################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/x64/Debug
/obj
/CupdateInfoGenerater/bin/x64/Debug/net8.0-windows
/CupdateInfoGenerater/obj
/bin/x64
/.vs/CUpdater.csproj.dtbcache.json
/CupdateInfoGenerater/bin/x64/Release/net8.0-windows
